src/main/resources/dm2e-ws.local.properties
target
# bin
dm2e-ws.iml
.idea
.project
.settings
.classpath
files/
catalog-v001.xml
src/main/resources/logging.properties
*.BAK
testconfig
src/main/java/eu/dm2e/ws/grafeo/annotations/NestedURIComponent.java
log
log-test
/*.svg
workflow.test.ttl
.attach*
WebContent/js/lib/jasny-bootstrap/jasny-bootstrap/
WebContent/js/lib/jasny-bootstrap/jasny-bootstrap.zip
WebContent/js/lib/log4javascript/log4javascript-*/
WebContent/js/lib/log4javascript/log4javascript-1.4.6.tar.gz
