src/main/resources/dm2e-ws.local.properties
target
# bin
dm2e-ws.iml
.idea
.project
.settings
.classpath
files/
catalog-v001.xml
src/main/resources/logging.properties
*.BAK
testconfig
src/main/java/eu/dm2e/ws/grafeo/annotations/NestedURIComponent.java
log
log-test
/*.svg
workflow.test.ttl
.attach*
