<div class="draggableLocation file" data-location="<%= obj.data_location %>">
	<% console.log( obj ) %> Name:
	<strong><%= obj.originalName %></strong>
	<br />
	Owner: <%= obj.owner %>
	<br />
	Upload Date: <%= obj.uploadDate %>
	<br />
	Size: <%=
		obj.fileSize
	%>
	<br />
	Resource Type: <%= obj.fileType %>
	<br />
	Content-Type: <%= obj.content_type %>
	<br />
	ID: <%= obj.id %>
	<br />
	<a class="btn file-edit disabled"
		href="<% if (obj.edit_url) { %><%= obj.edit_url %><% } else { %>editor?id=<%= obj.id %><% } %>">
		<i class="icon-edit">&nbsp;</i>
		edit
	</a>
	<button class="btn btn-danger file-delete disabled">
		<i class="icon-trash">&nbsp;</i>
		delete
	</button>
	<a class="btn" href="<%= obj.fileRetrievalURI %>">
		<i class="icon-download">&nbsp;</i>
		Download
	</a>
	<!-- 	<button class="btn btn-success <% if(obj.sync_url) { %>" -->
	<!-- 		data-sync-url="<%= obj.sync_url %> -->
	<!-- 		<% } else { %>disabled"<% } %>> -->
	<button class="btn btn-success disabled" data-sync-url="<%= obj.sync_url">
		<i class="icon-refresh">&nbsp;</i>
		Sync
	</button>
</div>
