<configuration>
    <!-- Load the system properties -->
    <system />
    <!-- Now load the config file, using a system property as file name -->
    <override>
        <properties fileName="dm2e-ws.local.properties" config-optional="true" />
        <properties fileName="dm2e-ws.default.properties" throwExceptionOnMissing="true" />
    </override>
</configuration>
