@import url('fonts/Telex.css');
@import url('../vendor/bootswatch/cerulean/bootstrap.css');

@drop-hover-color: #cfc;
@drop-active-color: #ffc;
@mainMenuLinkColor: #fff;
@highlightFirstLevel : #ffd;
@highlightSecondLevel: #ee0;
@lightGray: #eee;
@loadIndicator: url(../img/pacman-black.gif);

@import url("style.less");
